<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773577154853-crvv0eq1ne5fnfhlv4nqfpt1cccsvfpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773577154853-crvv0eq1ne5fnfhlv4nqfpt1cccsvfpn</string>
	<key>API_KEY</key>
	<string>AIzaSyCQz4kEGlHs9e-6c7rSb3sc9IAuiOtYK8o</string>
	<key>GCM_SENDER_ID</key>
	<string>773577154853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.austinhodak.tastn</string>
	<key>PROJECT_ID</key>
	<string>tast-n-df449</string>
	<key>STORAGE_BUCKET</key>
	<string>tast-n-df449.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773577154853:ios:536a382a1efd367aed7acc</string>
	<key>DATABASE_URL</key>
	<string>https://tast-n-df449.firebaseio.com</string>
</dict>
</plist>